[Desktop Entry]
Name=Client Register
Name[ca]=Client Register
Name[ca@valencia]=Client Register
Name[en_GB]=Client Register
Name[es]=Client Register
Comment=Allows you to check the cart assigned to the laptop
Comment[ca]=Permet comprovar el carret assignat al portàtil
Comment[ca@valencia]=Permet comprovar el carret assignat al portàtil
Comment[en_GB]=Allows you to check the cart assigned to the laptop
Comment[es]=Permite comprobar el carrito asignado al portátil
Icon=client_register
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.clientregister
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
